
@font-face {font-family: "iconfont";
  src: url('fonts/iconfont.eot?t=1532678694207'); /* IE9*/
  src: url('fonts/iconfont.eot?t=1532678694207#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('fonts/iconfont.woff?t=1492137439402') format('woff'),
  url('fonts/iconfont.ttf?t=1532678694207') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('fonts/iconfont.svg?t=1532678694207#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icon10:before { content: "\e60a"; }

.icon-jibenxinxi:before { content: "\e603"; }

.icon-yundong:before { content: "\e605"; }

.icon-xingquaihao:before { content: "\e635"; }

.icon-lvyou:before { content: "\e70f"; }

.icon-icon_Upan:before { content: "\e616"; }

.icon-icon_MP:before { content: "\e617"; }

.icon-icon_VR:before { content: "\e618"; }

.icon-icon_bijiben:before { content: "\e619"; }

.icon-icon_dayinji:before { content: "\e61a"; }

